.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.header {
    background-color: white;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f7f9fa;
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
}
a {
    cursor: pointer;
    text-decoration: none;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 8px 40px;
    box-sizing: border-box;
    position: relative;
}
.header__geo {
    display: flex;
    align-items: center;

}
.geoCity {
    color: #0070c0;
}
.header__btn {
    background-color: #e5f2f9;
    color: #0070c0;
    height: 28px;
    padding: 0 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}
.header__btn:focus,
.header__btn:hover {
    background-color: #d1e8f4;
    color: #0070c0;
    cursor: pointer;
    transition: all 0.3s;
}
.header__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    position: absolute;
    top: 75%;
    left: 0;
}
.header__search input{
    height: 56px;
    width: 100%;
    margin-right: 16px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 0 12px;
    box-sizing: border-box;
    outline:none;
}
.header__search button {
    height: 56px;
    background-color: #ec2327;
    color: #fff;
    padding: 0 16px;
    border: none;
    border-radius: 4px;
    flex: 0 0 130px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .header__search {
        display: none;
    }
    .header__wrapper {
        padding: 24px 8px;
    }
}
@media (max-width: 425px) {
    .header__geo {
        display: none;
    }
}